// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: #5B504A;
    background: url('/images/paper.png');
}

h1, h2, h3, h4 {
    color: #2A2522;
    font-weight: 700;
}

a {
    text-decoration: none;
}

label, input, textarea {
    display: block;
    width: 100%;
    // max-width: 500px;
}

label {
    margin: 0 0 15px 0;
    font-size: 1.1em;
}

input, textarea {
    margin: 0 0 30px 0;
    padding: 3px 7px 3px 7px;
    border: 0;
    font-size: 0.90em;
    font-weight: 100;
    color: grey;

    &:focus {
        outline: none; 
        border: 2px solid #BE5046;
    }
}

input {
    height: 28px;
}

textarea {
    height: 60px;
}

// Width specific

.half-width {
    display: inline-block;
    width: 50%;
    float: left;
}

.padded {
    padding-right: 20px;
}

.clear-float-left {
    clear: left;
}

@media (max-width: 550px) {
    .half-width {
        width: 100%;
    }

    .padded {
        padding-right: 0;
    }
}

// Global Content

// Header

header {
    height: 200px;
    background-color: #fff;

    .header-container {
        margin: 0 auto;
        padding: 100px 20px 0 20px;
        width: 100%;
        max-width: 760px;

        & a {
            display: inline;
        }

        & h1 {
            display: inline;
        }

        & button {
            float: right;
            padding: 0 30px 0 30px;
            height: 50px;
            background-color: #BE5046;
            border: 0;
            font-size: 1.1em;
            color: white;
            cursor: pointer;

            & i {
                margin: 0 20px 0 0;
                font-size: 1.2em;
            }
        }

    }
}

.clear-float-right {
    clear: right;
}

// Footer 

// footer {
//     height: 200px;
//     background-color: #222222;
// }

// Landing

.profile-cta, .project-cta {
    margin: 50px 20px 0 20px;
    padding: 20px 10px 20px 10px;
    text-align: center;
    background-color: #BE5046;
    border-radius: 5px;

    & h3 {
        color: #fff;
        font-weight: 300;
    }

    & i {
        margin: 20px 0 0 0;
        font-size: 6em;
        color: #fff;
    }

    & i:nth-child(0n+1) {
        font-size: 9em;
    }
}


// Forms

// Share Form

.display-share-container-outer {
    background-color: #BE5046;
}

.display-share-container-inner {
    width: 100%;
    max-width: 760px;
}

.display-share-form {
    display: none;
    padding: 20px 20px 20px 20px;
    width: 100%;
    color: #fff;
    // height: 0px;
    // -webkit-transition: all 0.4s ease;

    & button {
        padding: 0 30px 0 30px;
        height: 50px;
        background-color: white;
        font-size: 1em;
        color: #222222;
        border: 2px solid #222222;

        &:hover {
            cursor: pointer;
        }
    }
}

.display-share-form-show {
    display: inline-block;
    // height: 277px;
    // -webkit-transition: all 0.4s ease;
}

// Main content (questionnaire)

.main-content {
    margin: 0 auto;
    width: 100%;
    max-width: 760px;
    // background-color: #fff;
}


.questionnaire-container{
    padding: 20px 20px 20px 20px;
    width: 100%;

    & h2 {
        margin: 30px 0 30px 0;
    }

    & .sub-text {
        font-size: 0.85em;
    }

    & .submit-form {
        margin-top: 11px;
        height: 50px;
        background-color: #BE5046;
        font-size: 1.2em;
        color: white;
        cursor: pointer;
    }
}


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
